.contact_modal_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--secondary-background);
    align-items: flex-start;
}

.contact_modal_image {
    width: 100%;
    height: 100%;
    background-color: var(--image-background);
    border-radius: var(--radius-2) 0 0 var(--radius-2);
    background: url('../../../public/bannerImage.webp');
    background-size: cover;
    min-height: 400px;
}

.MuiDialog-paper {
    border-radius: var(--radius-3) !important;
    max-height: 100% !important;
}

.contact_form_wrapper {
    position: relative;
    display: grid;
    gap: 18px;
    padding: 50px 15px 18px;

}

.modal_close_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-background);
    width: 28px;
    height: 28px;
    border-radius: var(--radius-5);
    box-shadow: 1px 6px 9px 1px #80808069;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.css-iz33ar.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--theme-primary) !important;
}

.css-phs6im.Mui-focused {
    color: var(--secondary-foreground) !important;
}

.contact_brand_logo {
    margin: auto;
    background: var(--primary-background);
    padding: 5px;
    border-radius: var(--radius-1);
}
.thanks_page_container{
    margin: 100px 0;
    text-align: center;
    display: grid;
    gap: 12px;

}
@media screen and (max-width:575px) {
    .contact_modal_grid {
        grid-template-columns: 100%;
    }

    .contact_modal_image {
        display: none;
    }
}