.home_header_container {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    background-color: var(--primary-background);
    box-shadow: 0 2px 30px var(--theme-primary);
    z-index: 10;
}

.brand_logo_container {
    height: 40px;
    width: auto;
    max-width: 160px;
}

.brand_logo_container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.heder_nav_container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.heder_nav_container a {
    color: var(--primary-foreground);
    text-decoration: none;
}

.heder_nav_container a:hover,
.heder_nav_container a:focus {
    color: var(--theme-primary);
    outline: none !important;
}

.web_navigation {
    display: block;
}

.web_cta_button {
    display: flex;
}

.mobile_navigation {
    display: none;
}

@media screen and (max-width:1199px) {
    .web_navigation,
    .web_cta_button {
        display: none;
    }

    .heder_nav_container a {
        padding: 12px 10px;
        border-bottom: 1px solid var(--primary-border);
        display: block;
    }

    .mobile_navigation {
        display: block;
    }

    .home_header_container {
        padding: 12px 24px;
    }

    .home_header_drawer .MuiDrawer-paperAnchorLeft {
        padding: 0;
        background-color: var(--primary-background) !important;
        width: 280px;
    }

    .heder_nav_container {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .mobileCtaButton {
        margin: 18px 12px 0;
    }
}