:root {
  font-family: "Montserrat", sans-serif;

  /* sizing */
  --section-space: 100px;
  --container-width: 1280px;
  --radius-1: 6px;
  --radius-2: 12px;
  --radius-3: 18px;
  --radius-4: 24px;
  --radius-5: 30px;

  /* FAFF00 */
  /* color code */
  --theme-primary: #00ff16;
  --theme-secondary: #00ff1612;
  --primary-foreground: #FFFFFF;
  --secondary-foreground: #000000;
  --primary-background: #000000;
  --secondary-background: #ffffff;
  --territory-foreground: #9c9c9c;

  --primary-border: #d7d6e547;

  --image-background: #f7eeee;
  --pricing-card-bg: linear-gradient(107.23deg, hsla(0, 0%, 94%, .1) 1.45%, hsla(0, 0%, 100%, .03) 102.38%);

}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--primary-foreground);
  box-sizing: border-box;
}

@media screen and (max-width:991px) {

  :root {
    --section-space: 60px;
  }
}